
body {
    margin:0px;
    padding:0px;
    width:1280px;
    height:800px;    
}

.digital_date_day {
    position: absolute;
    left:40px;
    top:0px;
    width:300px;
    font-weight:bold;
    font-size:60px;
    text-align:center;
}

.digital_date_month {
    position: absolute;
    left:40px;
    top:75px;
    width:300px;
    font-weight:bold;
    font-size:60px;
    text-align:center;
}

.digital_date_number {
    position:absolute;
    left:400px;
    top:-20px;
    font-weight:bold;
    font-size:160px;    
}

.digital_time_time {
    position:absolute;    
    width:400px;
    text-align:right;
    left:0px;
    top:0px;
    font-weight:
    bold;
    font-size:160px;
}

.digital_time_am_pm {
    position:absolute;
    left:450px;
    top:40px;
    font-weight:bold;
    font-size:80px;
}

.div_cfg_label {
    position:absolute; 
    font-size: 60px;
    text-align: right;
}
.div_cfg_value {
    position:absolute; 
    font-size: 60px;
    text-align: left;
}
.cfg_value_buttons {
    position:absolute;        
    width:200px;
    height:100px;
    border-radius: 25px;    
    font-size: 40px;
    text-align: center;
}

.div_cfg {
    position:absolute;        
    width:1240px;
    height:580px;
    top: 180px;
    left: 20px;    
    border: 1px solid black;
}

.cfg_buttons {
    position:absolute;        
    width:150px;
    height:100px;
    background-color:lightblue;
    border-radius: 25px;    
    font-size: 40px;
    text-align: center;
}
.cfg_tab_active {
    height:160px;
}

.main_buttons_shown {    
    position:absolute;        
    width:200px;
    height:100px;
    background-color:aliceblue;
    border-radius: 25px;
}
.main_buttons_shown span {
    position:absolute;        
    width:200px;
    padding-top:25px;
    font-size: 40px;
    text-align: center;
}

.main_buttons_hidden {
    position:absolute;        
    width:200px;
    height:100px;
}
.main_buttons_hidden span {
    display: none;
}

#main {    
    width: 100%;
    height: 100%;
    background-color:black;
    background-image: url('backgrounds/back01.jpg');
    background-repeat: no-repeat;
}

#config {
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}

#update {

}

#network {

}